<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="flex flex-col justify-center items-center mx-auto size-full min-h-screen gap-4">
                <p>Sorry, there's nothing at this address.</p>
                <NavLink href="/" class="btn btn-primary w-fit">Back to Home Page</NavLink>
            </div>
        </LayoutView>
    </NotFound>
</Router>
